name: Trigger Review Workflow

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Add pdg-reviewer as a collaborator
        uses: kbrashears5/github-action-auto-create-collabs@latest
        with:
          TOKEN: ${{ secrets.TOKEN }}
          USERS: pdg-reviewer
          REPOSITORY: ${{ github.repository }}  # Specifica la repository corrente

      - name: Trigger Review Workflow in pr-reviewer
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: Bearer ${{ secrets.TOKEN }}" \
            https://api.github.com/repos/paradigma-spa/pr-reviewer/actions/workflows/generate_review.yml/dispatches \
            -d '{"ref":"main","inputs":{"pr_number":"${{ github.event.pull_request.number }}","repository":"${{ github.repository }}"}}'
